{% extends 'admin_app/base.html' %}
{% load static %}

{% block content %}

      <!-- end header -->


      <!-- our product -->
      <div class="product">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="title">
                    <form method ="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p}}
                        <button type="submit">Update Product</button>
                    </form>
                    <a href = "{%url 'admin_product_list' %}">Back to Products</a>   
            </div>
         </div>
      </div>


{% endblock %}